BombastPhysics/*
!BombastPhysics/Source/

BombastPhysics/Source/*
!BombastPhysics/Source/msvc/
BombastPhysics/Source/msvc/*
!BombastPhysics/Source/msvc/BombastPhysics.vcxproj

*.dll
*.exe
*.ilk
*.pdb
*.lib
*.suo
*.sdf
*.tlog
*.idb
*.ipch
*.vsld
*.lastbuildstate
*.mtl
*.cso
*.opensdf
*.nvuser
*.exp